

*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Fira Sans', 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}
