

<div class="container">
    <div class="slider">

        <div class="slide__top row jc-sb mb-32">
            <h3 class="slider__title">Категории</h3>

            <div class="row">

              <div class="counter">
                1/3
              </div>

                <button class="btn btn-slider mr-10">
                     <i class="btn-icon"></i>
                </button>
                <button  class="btn btn-slider">
                    <i class="btn-icon-right"></i>
                </button>
            </div>
        </div>


        <div class="slider__list row jc-sb">
            <div class="card">
                <div class="title">Автофургоны</div>
                <span class="model mb-24">27 моделей</span>
                <img class="card__img" src="../../../assets/images/truck.svg" alt="">
            </div>

          <div class="card">
            <div class="title">Автофургоны</div>
            <span class="model mb-24">27 моделей</span>
            <img class="card__img" src="../../../assets/images/truck.svg" alt="">
          </div>

          <div class="card">
            <div class="title">Автофургоны</div>
            <span class="model mb-24">27 моделей</span>
            <img class="card__img" src="../../../assets/images/truck.svg" alt="">
          </div>

          <div class="card">
            <div class="title">Автофургоны</div>
            <span class="model mb-24">27 моделей</span>
            <img class="card__img" src="../../../assets/images/truck.svg" alt="">
          </div>
        </div>
    </div>
</div>
