

<div>
  <div class="col">
      <div class="row mb-24">
            <a class="link mr-8" href="">Главная</a>
            <span class="link mr-8">/</span>
            <a class="link mr-8" href="">Категории</a>
            <span class="link mr-8">/</span>
            <a class="link" href="">Название категории</a>
      </div>

      <div class="row jc-sb mb-40">
          <div class="row ai-center">
              <h2 class="category">Название категории</h2>
              <div class="category-items">
                <span>15 682 товаров</span>
              </div>
          </div>

          <div class="row ai-center">
              <div class="row mr-35">
                <span class="sort-text">Сортировка:</span>
                <div class="sort-item">По популярности</div>
              </div>
              <div class="row">
                 <button class="btn btn-circle btn-circle--active mr-10">
                   <img src="../../../assets/images/logos/icon-normal.svg" alt="">
                 </button>
                <button class="btn btn-circle">
                  <img src="../../../assets/images/logos/icon-square.svg" alt="">
                </button>
              </div>
          </div>
      </div>
  </div>
</div>
