
<div class="header">
  <div class="container">
      <div class="header__inner">
            <div class="header__logo">

                <div class="row">

                  <a class="logo" href="#">
                    <img src="../../../../assets/images/logos/logo.svg" alt="logo">
                  </a>

                  <div class="logo-text">
                    <p>
                      производство и продажа
                      автоспецтехники
                    </p>
                  </div>

                </div>
            </div>

            <div class="header__feedback">
              <div class="row">

                  <div class="col mr-60">

                      <div class="work-time">
                        <span>Время работы</span>
                      </div>

                      <p class="address">г. Нижний Новгород ул. Торфяная, 35</p>
                  </div>

                  <div class="col mr-24">
                      <span class="phone">
                        Для регионов:
                        <a href="tel:88007777210">8 (800) 77-77-210</a>
                      </span>
                      <span class="phone">
                        Нижний Новгород:
                        <a href="tel:88312250055">8 (831) 225-00-55</a>
                      </span>
                  </div>

                  <button class="btn btn-yellow">
                    <span class="btn-icon"></span>
                  </button>
              </div>
            </div>
      </div>
  </div>
</div>
