

<div class="slider">
    <div class="row jc-sb">
        <div class="card">
            <div class="card__img">
                <img  src="../../../assets/images/truck-img.png" alt="">
                <div class="badge">
                  <span>В наличии</span>
                </div>
            </div>
            <div class="card__text">
                <p>HYUNDAI HD 120 бортовой с каркасом и тентом</p>
            </div>

            <div class="card__btn row jc-sb ai-center">
                <button class="btn btn-yellow">
                    <span class="btn-txt">Подробнее</span>
                </button>
                <div class="btn-heart">
                  <img src="../../../assets/images/logos/icon-heart.svg" alt="">
                </div>
            </div>
        </div>

        <div class="card">
          <div class="card__img">
            <img  src="../../../assets/images/truck-img.png" alt="">
            <div class="badge">
              <span>В наличии</span>
            </div>
          </div>
          <div class="card__text">
            <p>HYUNDAI HD 120 бортовой с каркасом и тентом</p>
          </div>

          <div class="card__btn row jc-sb ai-center">
            <button class="btn btn-yellow">
              <span class="btn-txt">Подробнее</span>
            </button>
            <div class="btn-heart">
              <img src="../../../assets/images/logos/icon-heart.svg" alt="">
            </div>
          </div>
        </div>

        <div class="card">
        <div class="card__img">
          <img  src="../../../assets/images/truck-img.png" alt="">
          <div class="badge">
            <span>В наличии</span>
          </div>
        </div>
        <div class="card__text">
          <p>HYUNDAI HD 120 бортовой с каркасом и тентом</p>
        </div>

        <div class="card__btn row jc-sb ai-center">
          <button class="btn btn-yellow">
            <span class="btn-txt">Подробнее</span>
          </button>
          <div class="btn-heart">
            <img src="../../../assets/images/logos/icon-heart.svg" alt="">
          </div>
        </div>
      </div>

        <div class="card">
          <div class="card__img">
            <img  src="../../../assets/images/truck-img.png" alt="">
            <div class="badge">
              <span>В наличии</span>
            </div>
          </div>
          <div class="card__text">
            <p>HYUNDAI HD 120 бортовой с каркасом и тентом</p>
          </div>

          <div class="card__btn row jc-sb ai-center">
            <button class="btn btn-yellow">
              <span class="btn-txt">Подробнее</span>
            </button>
            <div class="btn-heart">
              <img src="../../../assets/images/logos/icon-heart.svg" alt="">
            </div>
          </div>
        </div>

        <div class="card">
        <div class="card__img">
          <img  src="../../../assets/images/truck-img.png" alt="">
          <div class="badge">
            <span>В наличии</span>
          </div>
        </div>
        <div class="card__text">
          <p>HYUNDAI HD 120 бортовой с каркасом и тентом</p>
        </div>

        <div class="card__btn row jc-sb ai-center">
          <button class="btn btn-yellow">
            <span class="btn-txt">Подробнее</span>
          </button>
          <div class="btn-heart">
            <img src="../../../assets/images/logos/icon-heart.svg" alt="">
          </div>
        </div>
      </div>

        <div class="card">
        <div class="card__img">
          <img  src="../../../assets/images/truck-img.png" alt="">
          <div class="badge">
            <span>В наличии</span>
          </div>
        </div>
        <div class="card__text">
          <p>HYUNDAI HD 120 бортовой с каркасом и тентом</p>
        </div>

        <div class="card__btn row jc-sb ai-center">
          <button class="btn btn-yellow">
            <span class="btn-txt">Подробнее</span>
          </button>
          <div class="btn-heart">
            <img src="../../../assets/images/logos/icon-heart.svg" alt="">
          </div>
        </div>
      </div>
    </div>
</div>
