
<div class="card">
    <div class="row">
        <div class="card__img">
            <div class="badge row jc-sb ai-center">
                <div class="badge__text">
                    <span>В наличии</span>
                </div>

                <div class="badge__icon">
                    <img src="../../../assets/images/logos/icon-heart.svg" alt="">
                </div>
            </div>
            <img src="../../../assets/images/card-img1.png" alt="">
        </div>
        <div class="card__description">
            <div class="row">

                <div class="card__inner col">
                    <div class="card-title mb-32">
                      <p class="card-title__text">ISUZU NPR 75 (ELF 7.5) с изотермическим фургоном из сэндвич панелей и гидр...</p>
                    </div>

                    <div class="row jc-sb mb-15">
                        <span class="info">Габариты ТС</span>
                        <div class="border"></div>
                        <div class="info">6650х2300х3350 мм</div>
                    </div>
                    <div class="row jc-sb mb-15">
                        <span class="info col">Грузоподъёмность</span>
                        <div class="border col"></div>
                        <div class="info col">5135 кг</div>
                    </div>
                    <div class="row jc-sb">
                        <span class="info">Внутренний объём</span>
                        <div class="border"></div>
                        <div class="info">22 м3</div>
                    </div>
                </div>

                <div class="col ai-center">
                    <div class="price">
                      <span>от 352 000₽</span>
                    </div>
                    <button class="btn btn-yellow mb-15">
                      <span>Подробнее</span>
                    </button>
                    <div class="down">
                      <span>Получить КП</span>
                      <img src="../../../assets/images/logos/icon-down.svg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
