<div class="container">
  <div class="body">
        <app-top></app-top>

        <div class="row jc-sb">
              <app-sidebar></app-sidebar>

              <div class="col">
                  <app-catalog-card></app-catalog-card>
                  <app-catalog-card></app-catalog-card>
                  <app-catalog-card></app-catalog-card>
                  <app-catalog-card></app-catalog-card>
                  <app-catalog-card></app-catalog-card>
                  <app-catalog-card></app-catalog-card>
                  <app-catalog-card></app-catalog-card>
                  <app-catalog-card></app-catalog-card>



              </div>

        </div>

    <app-slider-trucks></app-slider-trucks>

  </div>
</div>
