
<div class="sidebar">
  <div class="title">Название фильтра 1</div>

  <input class="search" type="text" placeholder="Найти">

  <div class="sidebar-menu">
    <ul class="menu">
      <li class="menu__item">
        <input type="checkbox" id="check1">
        <label for="check1">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check2">
        <label for="check2">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check3">
        <label for="check3">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check4">
        <label for="check4">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check5">
        <label for="check5">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check6">
        <label for="check6">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check7">
        <label for="check7">Название пункта</label>
      </li>

    </ul>
  </div>

  <div class="mb-32">
    <div class="title">Название фильтра2</div>

    <ul class="row">
      <li class="mr-24">
        <input type="checkbox">
        <label for="">5.2</label>
      </li>
      <li class="mr-24">
        <input type="checkbox">
        <label for="">5.2</label>
      </li>
      <li class="mr-24">
        <input type="checkbox">
        <label for="">5.2</label>
      </li>
      <li class="mr-24">
        <input type="checkbox">
        <label for="">5.2</label>
      </li>
    </ul>
  </div>

  <div>
    <div class="title">Название фильтра 3</div>

    <input class="search" type="text" placeholder="Найти">
  </div>

  <div class="sidebar-menu">
    <ul class="menu">
      <li class="menu__item">
        <input type="checkbox" id="check1">
        <label for="check1">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check2">
        <label for="check2">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check3">
        <label for="check3">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check4">
        <label for="check4">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check5">
        <label for="check5">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check6">
        <label for="check6">Название пункта</label>
      </li>
      <li class="menu__item">
        <input type="checkbox" id="check7">
        <label for="check7">Название пункта</label>
      </li>

    </ul>
  </div>

  <div>

    <span>Цена</span>

    <div class="row jc-sb mb-50">
      <input class="price-txt" type="text" placeholder="от">
      <input class="price-txt" type="text" placeholder="до">
    </div>
  </div>


  <button class="btn btn-yellow">
    <span class="btn-txt">Показать товары (135)</span>
  </button>
</div>
