

<div class="header-bottom">
    <div class="container">

        <div class="row jc-sb">

            <div class="row">
                <button class="btn btn-yellow fd-row mr-40">
                    <div class="btn-lines">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                      <span class="btn-txt">Каталог</span>
                </button>


<!--                <div class="logo mr-68">-->
<!--                    <a href="">-->
<!--                        <img src="../../../assets/images/logos/logo.svg" alt="logo">-->
<!--                    </a>-->
<!--                </div>-->

                <ul class="menu row">
                    <li class="menu__item mr-32">
                        <a class="menu__link" href="">О нас</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link mr-32" href="">Медиа</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link mr-32" href="">Сервис</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link mr-32" href="">Новости</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="">Контакты</a>
                    </li>
                </ul>

            </div>

            <div class="row">

                <div class="search mr-16">
                  <input class="input" type="text">
                  <span class="search__icon"></span>
                </div>

                <div class="row">
                    <div class="mr-16">
                        <a href="#">
                            <img src="../../../assets/images/logos/cart-logo.svg" alt="">
                        </a>
                    </div>
                    <div class="mr-16">
                        <a href="#">
                           <img src="../../../assets/images/logos/heart-icon.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
