<div class="footer-top">
  <div class="container">
      <div class="row">

          <div>
              <div class="col">
                  <h1 class="title">ОСТАЛИСЬ ВОПРОСЫ?</h1>
                  <p class="subtitle mb-40">Оставьте свои контактные данные, и мы презвоним вам в ближайшее время</p>

                  <form class="form" action="#">
                      <div class="row">
                          <div class="col">
                              <label for="">Имя</label>
                              <input  class="input" type="text" placeholder="Иван Иванов">
                          </div>
                          <div class="col">
                              <label for="">Телефон</label>
                              <input class="input" type="text" placeholder="+7">
                          </div>
                          <div class="col jc-e">
                              <button class="btn btn-yellow">
                                  <span class="btn-txt">Открыть каталог</span>
                              </button>
                          </div>
                      </div>
                  </form>

                  <p class="subtitle-small">Нажимая на кнопку отправить Вы соглашаетесь на обработку Ваших персональных данных компание ООО «Рустрак»</p>
              </div>
          </div>

        <div class="truck">
<!--          <img src="../../../assets/images/delivery-truck%20.svg" alt="">-->
        </div>
      </div>
  </div>
</div>
